<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>FotressJS - Snake</title>
    <link rel="stylesheet" href="assets/stylesheet/main.css">
  </head>
  <body>
    <div id="gameAreaWrapper">
      <div id="action"><button class="leaveButton">Leave</button></div>
      <canvas id="csv" tabindex="1"></canvas>
    </div>
    <div id="startMenuWrapper">
      <div id="startMenu">
        <p>OutJS Snake Solo</p>
        <button id="startButton">Play</button></a>
        <button class="leaveButton">Leave</button></a>
      </div>
    </div>
    <script data-main="assets/js/app" src="assets/js/lib/require.min.js"></script>
  </body>
</html>
